.Rproj.user
.Rhistory
.RData
/cache
#
# Files created by MacOSX
# 
.DS_Store
#
# Files created by LaTeX
#
ReeseHeunJournalPaper.pdf
LongwaveModelPaper.pdf
*.log
*.gz
*.tikz
*.aux
*.spl
*-concordance.tex
*-tikzDictionary
*.tex
*.vrb
*.bbl
ReeseHeunJournalPaper.blg
figure/
#
# Files created by beamer
#
*.nav
*.snm
*.toc
